@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin:0;padding:0}




body{
	font-family: 'Work Sans';
	font-size:16px;  
}

h1,h2,h3,h4,h5,h6{
	font-family: oswald;
	font-weight:500 !important;
}

section{
	
	padding:80px 0px;
}

.topBarMain {
    background: #f5f5f5;
}

.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.phone {
    width: 230px;
    float: left;
}

.email {
    width: 658px;
    float: left;
    padding: 15px 10px;
}


.social {
    width: 140px;
    float: left;

}
.topbarWrapper {
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
	color:#ddd;
	
	
} 	

.social a:first-child{
	border-left:1px solid #ddd
}


.social i:hover{
	color:#ff5200;

}


.phone i{
    color: #ff5200;
}

.email i{
    color: #ff5200;
   
}

.phone {
    padding: 15px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.primaryWrapper {
    display: table;
    width: 100%;
}

.logo {
    width: 150px;
    float: left;
    margin-top: 22px;
}

.menu {
    width: 990px;
    float: left;
}

ul.mainMenuItem {
    float: right;
    list-style: none;
}

ul.mainMenuItem li {
    float: left;
    position: relative;

}

ul.mainMenuItem li a {
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 30px 15px;
    color: #0e0e0e;
    font-weight: 500;
	transition:0.6s
}
button#sliderWorkButton:hover {
    color: white;
    background: rgb(47 175 104);
}

ul.mainMenuItem li a:hover{
	color:#ff5200;
}

#homeSlider{
	
	background: url(../image/as1.jpg);
	background-repeat: no-repeat;
    background-position: 100%;
	padding : 0;
}

.sliderContent {
    color: white;
    font-family: 'Work Sans';
    width: 600px;
	padding:40px;
}

.sliderContent h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 120px;
    float: left;
}

.sliderContent p {
    font-weight: 500;
    line-height: 25px;
    width: 500px;
    margin-bottom: 30px;
	color:white;
}

button#sliderWorkButton {
    background: #ff200;
}

button#sliderWorkButton {
    background: #ff5200;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    margin-bottom: 45px;
}
#services{
	pa
	background:#f5f6f6;
	
}

.sboxWrapper {
    overflow: hidden;
}

.singleBox {
    width: 225px;
    background: rgb(239 230 230 / 48%);
    padding: 15px;
	transition: 0.6s;
}

.singleBox:hover{
	
	background:#fb5200;
	color:white;
	cursor:pointer;
	
}
.singleBox i {
	color:#fb5200;
}
.singleBox:hover h2,i{
	

	color:white;
}
.singleBox:hover .sboxIcon i {
	color:white;
}

.singleBox:hover .sboxLink a{
	
	color:white !important;
}

.sboxTitle {
    text-align: center;
    font-size: 23px;
    letter-spacing: 1.1px;
    color: #333;
    width: 230px;
    margin: auto;
    line-height: 35px;
    text-transform: uppercase;
    margin: 30px 0px;
}

.sboxIcon {
    text-align: center;
    font-size: 35px;
    color: #fb5200;
    margin: 30px opx;
}

.sboxDesc {
    text-align: center;
    margin: 30px opx;
}

.sboxLink {
    text-align: center;
    margin: 30px 0px;
    
}

.sboxLink a {
    text-decoration: none;
    color: rgb(29 29 29);;
    font-weight: 500;
}

.singleBox {
    float: left;
    margin-right: 30px;
}

.teamImage {
    width: 535px;
    float: left;
}

img {
    max-width: 100%;
}

.teamDetails {
    width: 535px;
    float: right;
}

h2 {
    font-size: 40px;
}

.titleDec {}

h2 {
    margin-bottom: 0px;
}

p {
    color: #666;
    line-height: 25px;
    margin-bottom: 15px;
}

.teamFacilities ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
    float: left;
}

.teamFacilities ul li {
    line-height: 29px;
	transition:0.6s;

}

.teamFleft Ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.teamFacilities {
    overflow: hidden;
    margin-bottom: 25px;
}



.teamContactBtn a {
    background: #fb5200;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 3px;
	transition:0.6s
}
.teamContactBtn a:hover{
	
	background: #096069;
	color:white;
}

.teamFacilities ul li:hover a{
	
	color:#fb5200;
}

.teamFacilities ul li:hover i{
	
	color:#fb5200;
}

#whyChoosUs{
	
	background : linear-gradient(#53caa900 , #53caa900), url(../image/20190315_083850.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	
}

.iconWrapper {
    overflow: hidden;
}

.singleIcons {
    width: 220px;
    text-align: center;
    color: rgb(251 251 251);
    font-size: 30px;
    float: left;
    margin-right: 65px;
}

.singleIcons h2 {
    font-size: 55px;
    font-weight: 900;
    margin: 10px 0px;
    font-family: arial black;
}

.singleIcons h4 {
    font-size: 30px;
}


#blogPosts{
	background:#f5f6f6;
}

.secTitle {
    text-align: center;
    margin-bottom: 40px;
}

.secTitle h2 {
    font-size: 45px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom:15px;
}

.secTitle h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #fb5200;
    width: 250px;
    border-bottom: 5px solid #fb5200;
    left: 43%;
    margin-left:-50px;
}

.secTitle p {
    width: 550px;
    margin: auto;
    line-height: 26px;
    font-size: 17px;
}

.postWrapper {
    overflow: hidden;
}



.singlePost {
    width: 258px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}

.singlePost:last-child{margin-right:0px;}

.singlePost img {
    width: 100%;
}

.postImg {
    margin-bottom: 20px;
}

.postInfo p {
	margin-top: 10px;
	line-height: 23px;
	}

.singleTable {
    width: 288px;
    overflow: hidden;
    float: left;
    border: 1px solid #eaeaea;
    padding: 30px;
    margin-right: 30px;
}

.singleTable h3 {
    font-size: 25px;
}

.singleTable h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: arial black;
    margin-top: 8px;
    margin-bottom: 8px;
}

.singleTable h1 span {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}

.singleTable ul {
    list-style: none;
    color: #777;
}

.singleTable ul li {
    line-height: 30px;
}

.singleTable ul li i {
    color: #fb5200;
    font-size: 10px;
}

button#tableGetStarted {
    background: #fb5200;
    color: white;
    border: none;
    padding: 15px 25px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    margin: 20px 0px;
    transition: 0.9s;
}

button#tableGetStarted:hover {
    color: white;
    background: rgb(20 140 74 / 96%);
    cursor: pointer;
	
}



.tableList {
    overflow: hidden;
}

.tableList{
	display:table;
	background:#FAFAFA;
	
}


.tableList:last-child{
	margin-right:0px;
	box-shadow:20px 0px 8px #f6f6f6;
}


.tableList:first-child{
	
	box-shadow:-20px 0px 8px #f6f6f6;
}



.secTitleTeam {
    text-align: center;
    margin-bottom: 40px;
}

.secTitleTeam h2 {
    font-size: 45px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom:15px;
}

.secTitleTeam h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #fb5200;
    width: 190px;
    border-bottom: 5px solid #fb5200;
    left: 46%;
    margin-left:-50px;
}

.secTitleTeam p {
    width: 550px;
    margin: auto;
    line-height: 26px;
    font-size: 17px;
}




.teamOersons {
    overflow: hidden;
}

.teamOersons {
    width: 255px;
    overflow: hidden;
    float: left;
}

.teamOersons:last-child {
    margin-right: 0px;
}

.teamOersons {
    margin-right: 30px;
}

.personImg {
    width: 100%;
	transition:0.5s;
}

.personinfo {
    padding: 15px;
    text-align: center;
}

.personinfo h3 {
    font-size: 25px;
}

.personinfo p {
    font-size: 16px;
    margin-top: 8px;
    color: #777;
}

.personinfo {
    padding: 15px 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.joinTeamButton {
    padding: 70px;
    display: grid;
    place-items: center;
}

button {
    background: #fb5200;
    color: white;
    border: none;
    padding: 20px;
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 4px;
}

button:hover {
    color: white;
    background: #333;
    transition: 0.4s;
}.joinTeamButton {
    padding: 70px;
    display: grid;
    place-items: center;
}

button {
    background: #fb5200;
    color: white;
    border: none;
    padding: 20px;
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 4px; 
	transition: 0.5s;
	cursor:pointer;
}

button:hover {
    color: white;
    background: #333;
  
}




.personImg {
    overflow: hidden;
    position: relative;
	
}

.socialIcons {
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.socialIcons a {
    width: 20px;
    height: 20px;
    display: block; 
    float: left;
    overflow: hidden;
    background: red;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 100%;
    padding: 5px;
    color: white;
    margin-right: 5px;
	transition:o.6s;
}

.socialIcons {
	left: 50%;
    transform: translatex(-50%);
    width: 170px;
}

.socialIcons a:first-child{
	background:#3b5998;
	
	transition:.60s
	
}



.socialIcons a:nth-child(2){
	background:#00acee;
	
	transition:.50s
}



.socialIcons a:first-child(3){
	background:#DB4A39;
	
	transition:.40s
}


.socialIcons a:last-child{
	background:#0e76a8;
        
	transition:.30s

}



.socialIcons a:hover {
	background:#333;
	color:white
}


.socialIcons a {
    transition: 0.6s;
}

.teamOersons:hover .socialIcons a:first-child{
	
	transform:translateY(20px);

}



.teamOersons:hover .socialIcons a:nth-child(2){
	
	transform:translateY(20px);

}

.teamOersons:hover .socialIcons a:nth-child(3){
	
	transform:translateY(20px);
}


.teamOersons:hover .socialIcons a:last-child{
	
	transform:translateY(20px);
	
}


.teamOersons:hover .personImg img{
	
	transform:scale(1.1)
}



#projects{
	background:#f5f6f6;
	
}

.projectsWrapper {
    overflow: hidden;
}

.singleProject {
    width: 350px;
    float: left;
    margin-right: 30px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.singleProject:last-child {
    margin-right: 0px;
}

.singleProject img {
    width: 100%;
}

.projectInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    background: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 0%) 160px);
    color: rgb(255 255 255);
    overflow: hidden;
    padding-bottom: 0px;
	transition:0.4s;
	
}


.projectMeta {
    width: 280px;
    margin-bottom: 15px;
}

.projectMeta a {
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
	text-decoration:none;
}

a#learnMoreBtn {
    display: block;
    color: white;
    font-weight: 500;
    font-size: 16px;
	visibility:hidden;
    transform: translatex(-150px);
    text-decoration:none;
}

a#learnMoreBtn i {
    font-size: 12px;
    margin-left: 15px;
	
}

.singleProject:hover .projectInfo {
    padding: 40px 30px !important;
	background: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 0%) 200px) !important;
}

.singleProject:hover a#learnMoreBtn{
	    
		visibility:visible;
		transition:0.3s;
	    transition-delay: 0.4s;
	    transition-timing-function: cubic-bezier(0, 0.43, 0.15, 1.09);
         transform: translatex(0px) !important;
	
}

.newsWrapper {
    overflow: hidden;
}

.singleNews {
    width: 350px;
    margin-right: 30px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.singleNews:last-child {
    margin-right: 0px !important;
}

.newsImage img {
    width: 100%;
	transition:0.4s;
	cursor:pointer;
}
.newsImage {
	overflow:hidden
}

.singleNews:hover img {
    transform: scale(1.2);
}

.singleNews:hover img{
	transform:scale(1:2)
	
}

.newsMeta {
    padding: 30px;
    border-left: 1px solid rgb(232 232 232);
    border-right: 1px solid rgb(232 232 232);
    border-bottom: 1px solid rgb(232 232 232);
	overflow:hidden;
}

.newsCategory {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.newsCategory a {
    text-decoration: none;
    font-weight: 500;
    color: #ddd;
    display: block;
    width: 120px;
    float: left;
    font-size: 14px;
}

.newsCategory a:last-child {
    margin-left: 10px;
}

.newsTitle h2 a {
    color: #333;
    text-decoration: none;
	transition:0.4s;
}

.newsCategory a:first-child{
	
	color:#999
}

.newsTitle h2 {
	margin-bottom:12px;
}

.newsTitle h2:hover a{
	
	color:#fb5200;
	
}

.newsCategory a{
	
	transition:0.4s
}

.newsCategory a:last-child:hover{
	color:#fb5200;
	
}

.newsTitle p {
    color: #777;
    margin-bottom: 15px;
}

a#newsReadMore {
    color: #fb5200;
    font-weight: 400;
    text-decoration: none;
}

a#newsReadMore i {
    font-size: 12px;
    color: #fb5200;
}


.newsCategory:after {
    content: "";
    width: 20px;
    border-bottom: 2px solid #fb5200;
    position: absolute;
    left: 95px;
    top: 7px;
}






#footer{
	
	background:#002a32;
	padding-top:200px
}
.copyrightContainer {
    overflow: hidden;
    color: #999;
    border-top: 1px solid #333;
}

.copyrightContainer .container {
    overflow: hidden;
}

.copyrightText {
    width: 540px;
    float: left;
	padding:15px
}

.copyrightMenu {
    width: 570px;
    float: right;
}

.copyrightMenu ul {
    list-style: none;
    float: right;
    overflow: hidden;
}

.copyrightMenu ul li {
    float: left;
}

.copyrightMenu ul li a {
    color: #999;
    display: block;
    padding: 13px;
    text-decoration: none;
}



.fboxWrapper {
    overflow: hidden;
    margin-bottom: 60px;
}

.fbox {
    overflow: hidden;
    width: 250px;
    float: left;
    margin-right: 30px;
    color: #999;
}

.fbox:last-child {
    margin-right: 0px;
}

.fbox h3 {
    color: white;
    margin-bottom: 18px;
}

.fbox p { 
line-height: 25px;
font-size: 16px;
margin-bottom: 15px;
}

span#contacts {
    display: block;
    margin-block: 15px;
    font-size: 16px;
}

span#contacts i {
    color: #fb5200;
    margin-right: 10px;
}



ul#uflink {
    list-style: none;
}

ul#uflink li {
    line-height: 35px;
}

ul#uflink li a {
    color: #999;
    text-decoration: none;
    /* display: block; */
    padding: 0px 5px;
    /* border-bottom: 1px dashed rgb(172 172 172); */
}

ul#uflink li a i {
    font-size: 10px;
}

ul#uflink li:last-child a{
    border-bottom: 0px;
}



.fRpost {
    overflow: hidden;
    margin-bottom: 30px;
}

.fRpostMeta {
    width: 40px;
    background: #313131;
    padding: 12px 10px;
    border-radius: 5px;
    color: white;
    float: left;
}

.fRpostTitle {
    width: 175px;
    float: right;
}

.fRpostTitle h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

.fbox {}

.fbox h3 {
    color: #999;
}

.fRpostTitle a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
    margin-right: 15px;
}



.fRpostMeta span:first-child {
    font-weight: 900;
    font-size: 22px;
}

.fRpostMeta {
    text-align: center;
}

.fRpostMeta span:last-child {
    font-size: 9px;
    font-weight: 500;
    margin-top: 5px;
    display: block;
    line-height: 15px;
}


.ficons a {
    display: block;
    width: 20px;
    background: #666;
    display: grid;
    place-items: center;
    padding: 5px;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
    text-decoration: none;
    color:#002a32;
	transition:0.5s;
}

.ficons a:hover{
	
	background:#fb5200;
	
}

.subsBoxesWrapper {
    overflow: hidden;
    background: rgb(14 73 54);
    border-radius: 3px;
	padding-bottom:20px
}

.subsBoxSingle {
    width: 320px;
    float: left;
    padding: 30px;
    overflow: hidden;
}

.subsBoxSingle:last-child {
    margin-right: 0px;
}

.subsBoxSingle h2 {
    color: white;
    margin-bottom: 20px;
}


.inputboxes {
    
	position:relative;
}

.inputboxes input:first-child {
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    font-family: 'Oswald';
    letter-spacing: 1px;
    border-top-right-radius: 50px;
}


input#subssubmit {
    padding: 16px;
    border: none;
    background: black;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
    width: 120px;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 30px;
}


.subsFollowIcons {
    overflow: hidden;
}

.subsFollowIcons a {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid white;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-right: 15px;
    color: white;
    text-decoration: none;
	transition:0.5s;
}

.subsFollowIcons a:hover {
	background:#fb5200;
	color: white;
	
}



section#subscribe {
    position: relative;
    margin-bottom: -190px;
} 


ul.subMenu {
    list-style: none;
    width: 270px;
    position: absolute;
    top: unset;
    background: white;
    border-top: 1px solid #ddd;
    padding: 25px;
	visibility:hidden;
	transform:scaleY(0);
	transition:0.4s;
	transform-origin:top;
	
}

ul.subMenu li {
    float: none;
	position:relative;
	display:block;
}

ul.subMenu li a {
    padding: 8px 0px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #333;
    font-family: arial black;
	transition:0.6s;
}


ul.subMenu li a:befor {
    content: "";
    display: inline-block;
    background: #fb5200;
    width: 20px;
    height: 2px;
    vertical-align: middle;
    margin-right: 10px;
	transition:0.6s;
}

 ul.subMenu li:hover a:befor {
	
	width:20px
}


 ul.mainMenuItem li:hover ul.subMenu{
	 
	 visibility:visible;
	 transform:scaleY(1)
 }

i.fas.fa-chevron-down {
    color: #333;
}

ul.subMenu2 {
    list-style: none;
    width: 270px;
}


ul.subMenu2 {
    list-style: none;
    width: 270px;
    position: absolute;
    top: 0;
	left:295px;
    background: white;
    border-left: 1px solid #ddd;
    padding: 25px;
	visibility:hidden;
	transform:scaleX(0);
	transition:0.4s;
	transform-origin:left;
	
}


ul.Menu li:hover ul.subMenu2{
	  visibility:visible;
	 transform:scaleX(1)
}


i.fas.fa-search {
    color: #333;
}







